.app {
  height: 100vh;
  padding: 30px;
  text-align: center;
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
}
.list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 600px;
  padding: 5px;
}
.list-item {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}
.center {
  margin: auto;
}
.ba {
  border-style: solid;
  border-width: 1.5px;
}
.pa2 {
  padding: 0.5rem;
}

.pa4 {
  padding: 2rem;
}

.mb {
  margin-bottom: 0.5rem;
}
.mt {
  margin-top: 0.5rem;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
button {
  cursor: pointer;
}
.addButton {
  background-color: green;
  color: white;
  border: green;
  border-radius: 10%;
  padding: 4;
}
.deleteButton {
  background-color: red;
  color: white;
  border: red;
  border-radius: 10%;
  padding: 4;
}
